@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-color: #292929;
  --secondary-background: #1f1e1e21;
  --secondary-color: #464545;
  --highlight-color: #9b97979c;
  --font-main: rgb(236, 233, 233);
  --font-secondary: #c4c1c1;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--font-main);
  font-size: 1rem;
  letter-spacing: 0.01rem;
  word-spacing: 0.01rem;
  line-height: 1.5rem;
  margin: 0;
}

main {
  width: 100%;
  height: 400px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.search-field {
  border-radius: 50px;
  width: 70%;
  height: 20%;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.096);
}

.input-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

input {
  width: 90%;
  height: 95%;
  padding: 10px;
  font-size: 1.7rem;
  font-weight: 500;
  background: none;
  color: var(--font-secondary);
  border: none;
}

input:focus {
  outline: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--highlight-color);
  border: none;
  border-radius: 50px;
  font-size: 2.5rem;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

button:hover,
input:hover {
  filter: brightness(1.2);
}

.fa-spinner {
  display: none;
}

.search-results-wrapper {
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.search-results > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 1.1rem;
  padding-left: 20px;
}

.search-results > div:hover {
  background-color: rgba(245, 245, 245, 0.027);
  border-radius: 15px;
  cursor: pointer;
  filter: brightness(1.5);
}

.search-results > div > img,
a,
p {
  padding: 4px;
  color: var(--font-secondary);
}
.company-header {
  margin: 0;
  height: 100px;
  background-color: #2e2c2eee;
}

.company-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto auto;
  padding-top: 30px;
}

.company-name {
  width: 40%;
}
.company-name > a {
  font-size: 1.5rem;
  font-weight: 600;
}

.company-name > p,
.company-price > p {
  margin: 0;
  font-size: 1rem;
  padding: 0;
}

.company-price {
  width: 150px;
  text-align: right;
}

.chart-wrapper {
  width: 80%;
  margin: 40px auto;
}

.company-text-wrapper {
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-description {
  width: 60%;
}

.company-description > img {
  float: left;
  margin: 10px;
}
.company-description > p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--font-secondary);
}

.list-company-data {
  margin: 0;
  width: 25%;
  list-style-type: none;
  font-size: 0.9rem;
  color: var(--font-secondary);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--font-main);
}

a:hover {
  text-decoration: none;
  color: pink;
}

a:active {
  text-decoration: none;
}

.red {
  color: #ef5350;
}

.green {
  color: #4caf50;
}

img {
  width: 30px;
  height: 30px;
}

.marquee {
  margin-top: 5px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.5rem;
  line-height: 20px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 80s linear infinite;
}

.rainbow-letters span:nth-child(10n + 1) {
  color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 2) {
  color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 3) {
  color: #651fff;
}

.rainbow-letters span:nth-child(10n + 5) {
  color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 4) {
  color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 6) {
  color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7) {
  color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8) {
  color: #ffc107;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
